.mypy_cache/
.vscode/
backup
media
twitter_media_dl/.ipynb_checkpoints/
twitter_media_dl/.mypy_cache/
twitter_media_dl/.vscode/
twitter_media_dl/__pycache__/
twitter_media_dl/.env
twitter_media_dl/img_urls*
twitter_media_dl/*launch.json
twitter_media_dl/*.ipynb